<!-- Buttons -->
<a href="https://material.angular.io/components/button/overview" target="_blank">
  <h1>Buttons</h1>
</a>
<hr>
<button mat-button>Mat Button</button>
<button mat-raised-button>Mat Raised Button</button>
<button mat-flat-button>Mat Flat Button</button>
<button mat-stroked-button>Mat Stroked Button</button>
<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
</div>

<div>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">accent</button>
  <button mat-button color="warn">warn</button>
</div>
<div>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">accent</button>
  <button mat-raised-button color="warn">warn</button>
</div>
<hr>
<!-- Button Toggle: Behaves like a Radio Button-->
<a href="https://material.angular.io/components/button-toggle/overview" target="_blank">
  <h1>Buttons Toggle</h1>
</a>
<hr>
<div>
  <h2 class="description">Simple toggle button</h2>
  <mat-button-toggle #toggleButton>Toggle</mat-button-toggle>
  <p>Toggle Button Value: {{toggleButton.checked}}</p>
</div>
<div>
  <h2 class="description">toggle Group only one value</h2>
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <p>Value button toggle: {{group.value}}</p>
</div>
<div>
  <h2 class="description">toggle Group stores many values</h2>
  <mat-button-toggle-group #groupee="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <p>Value button toggle: {{groupee.value}}</p>
</div>
  
  <hr>
<!-- Typography -->
<h1>Typography</h1>
<hr>

<div class="mat-display-4">Hola</div>
<div class="mat-display-3">Hola</div>
<div class="mat-display-2">Hola</div>
<div class="mat-display-1">Hola</div>

<div class="mat-headline">This is a heading for mat-headline</div>
<div class="mat-title">This is a heading for h2: mat-title</div>
<div class="mat-subheading-2">This is a subheading for h3: mat-subheading-1</div>
<div class="mat-subheading-1">This is a subheading for h4: mat-subheading-2</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>