<button mat-raised-button>Hello World</button>
<div class="mat-display-4">Hola</div>
<div class="mat-display-3">Hola</div>
<div class="mat-display-2">Hola</div>
<div class="mat-display-1">Hola</div> 

<div class="mat-headline">This is a heading for mat-headline</div>
<div class="mat-title">This is a heading for h2: mat-title</div>
<div class="mat-subheading-2">This is a subheading for h3: mat-subheading-1</div>
<div class="mat-subheading-1">This is a subheading for h4: mat-subheading-2</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>